<nav>
	<ul>
		<li><a href="/admin/dashboard" title="">Dashboard</a></li>
		<li><a href="/admin/pages" title="">Pages</a></li>
		<li><a href="/admin/posts" title="">Posts</a></li>
		<li><a href="/admin/users" title="">Users</a></li>
	</ul>
</nav>	