<h1>Admin</h1>
<p>You are in the restricted area!</p>
<p><a href="/admin/logout">Logout</a></p>

<hr>

<section>
	<nav>
		<ul>
			<li><a href="/admin/pages" title="">Pages</a></li>
		</ul>
	</nav>	
</section>