<h1>Admin</h1>
<p>You are in the restricted area!</p>
<p><a href="/admin/logout">Logout</a></p>

<hr>

<section>
	{{> navigation}}

	<section>
		<h2>Pages</h2>
		<p>Create a new page.</p>
		<form action="/admin/pages" method="post" accept-charset="utf-8">
			<label>
				<input type="text" name="name">
			</label>
			<button type="submit">Create</button>
		</form>
	</section>

	<section>
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th></th>
				</tr>
  			{{#each pages}}
  				<tr>
  					<td>{{title}}</td>
  					<td>
  						<form action="/admin/post/{{_id}}?_method=DELETE" method="post" accept-charset="utf-8">
							<button type="submit">delete</button>
  						</form>
  					</td>
  				</tr>
  			{{/each}}
		</ul>
	</section>
</section>